doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    link(rel='stylesheet', type='text/css', href='css/move-as-you-type.css')
    link(rel='stylesheet', type='text/css', href='css/flipclock.css')
  body
    script(src='js/lib/jquery.min.js')
    script(src='js/lib/jquery-ui.min.js')
    script(src='js/lib/flipclock/js/flipclock.min.js')
    script(src='js/move-as-you-type.js')
    script(src='js/main.js')
    .content
    //.pointer ___
    button(class="start") Start Game
    .your-clock
    .message
    .result